<html lang="ja" >
  <head>
    <mate charset="UTF-8" />
    <link rel="stylesheet" href="application.css" />
  </head>

  <body>
    <h1 class="book">Books</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>

      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="text-color" href="index.html">Show</a></td>
        <td><a class="text-color" href="index.html">Edit</a></td>
        <td><a class="text-color" href="index.html">Destroy</a></td>

      </tr>

      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="text-color" href="index.html">Show</a></td>
        <td><a class="text-color" href="index.html">Edit</a></td>
        <td><a class="text-color" href="index.html">Destroy</a></td>
      </tr>

      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="text-color" href="index.html">Show</a></td>
        <td><a class="text-color" href="index.html">Edit</a></td>
        <td><a class="text-color" href="index.html">Destroy</a></td>
      </tr>

      <% @books.each do |book| %>
       <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><a class="text-color" href="index.html">Show</a></td>
        <td><a class="text-color" href="index.html">Edit</a></td>
        <td><a class="text-color" href="index.html">Destroy</a></td>
        </tr>
      <% end %>

    </table>

    <div class="create-box">
      <h4>New book</h4>
      <%= form_with model: @book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Body</p>
        <%= f.text_area :body %><br>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>

  </body>


</html>