<html lang="ja" >
  <head>
    <mate charset="UTF-8" />
    <link rel="stylesheet" href="application.css" />
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="c">
      <p><b>Title:</b><%= @book.title %></p>
      <p><b>Body:</b><%= @book.body %></p>
    </div>

    <div class="d">
      <%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "Back", books_path %>
    </div>
  </body>
</html>
